<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2022.3.1" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.CDA.Generator.v3" version="4.10.0" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.Common" version="4.3.0" targetFramework="net472" />
</packages>