<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.CDA.Generator.v3" version="4.6.2" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.Common" version="4.2.1" targetFramework="net472" />
</packages>