<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.CDAPackage" version="1.6.0" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.Common" version="4.3.0" targetFramework="net472" />
  <package id="Nehta.Xsp" version="1.4.0" targetFramework="net472" />
</packages>